{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/styles.css' %}" />
<a href="{% url 'polls:index' %}">Back</a>
<form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
	{% csrf_token %}
	<button type="submit">Logout</button>
</form>
<h1>{{ question.question_text }}</h1>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
{% for choice in question.choice_set.all %}
	<input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
	<label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
{% endfor %}

<input type="submit" value="Vote" />
</form>