{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/styles.css' %}" />

<ul class="sidebar-nav">
	{% if user.is_authenticated %}
		{% if latest_question_list %}
			<ul>
			{% for question in latest_question_list %}
				<!-- <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li> -->
				<li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
			{% endfor %}
			</ul>
		{% else %}
			<p>No polls are available.</p>
		{% endif %}
		<br>
		<br>
		<form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
			{% csrf_token %}
			<button type="submit">Logout</button>
		</form>
	{% else %}
		<li><a href="{% url 'login' %}?next={{request.path}}">Login</a></li>
	{% endif %}
</ul>
