{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'accounts/styles.css' %}" />

<!DOCTYPE html>
<html>
<head>
	<title>Django App</title>
</head>
<body>
	<h1>MEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEP</h1>
	<br>
	<ul>
		<li><a href="{% url 'accounts:login' %}">Login</a></li>
		<li><a href="{% url 'accounts:signup' %}">Sign Up</a></li>
	</ul>
</body>
</html>