{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'accounts/styles.css' %}" />

{% block content %}
{% if next %}
	<p>Please login to see this page.</p>
{% endif %}

<h1>Login</h1>
<form class="site-form" action="{% url 'accounts:login' %}" method="post">
	{% csrf_token %}
	{{ form.as_p }}
	{% if request.GET.next %}
		<input type="hidden" name="next" value="{{ request.GET.next }}">
	{% endif %}
	<input type="submit" value="Login">
</form>
{% endblock %}
