{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'accounts/styles.css' %}" />

{% block content %}
<h1>Sign-up</h1>
<form class="site-form" action="/accounts/signup/" method="post">
	{% csrf_token %}
	{{ form.as_p }}
	<input type="submit" value="Signup">
</form>

<a href="{% url 'accounts:login' %}">Login</a>
{% endblock %}
