{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Django App</title>
	<link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
	<header class="wrapper">
		<nav>
			<ul>
				<li>
					<form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
						{% csrf_token %}
						<button type="submit">Logout</button>
					</form>
				</li>
			</ul>
		</nav>
	</header>
</body>
</html>